$fs-sans: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
$fs-condensed: 'Roboto Condensed', 'Helvetica Neue', Arial, sans-serif;;

:root {
  --cta: #ec008c;
  --on-cta: #fff;
  --background: #fff;
  --on-background: #000;
  --border-color: #ececec;
  --posting-background: #f7f7f7;
  --guide: green;

  --site-core-padding: 0 25px;
}
